@import "./variabels";
@import "./functions";


.topnav {
    background-color: rgb(24, 11, 80);
    overflow: hidden;
    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav a.active {
        background-color: #4CAF50;
        color: white;
      }
  }

  body{
    background-color: rgb(3, 3, 3);
}

.smr{
    float: left;
    color: rgb(255, 255, 255);
    img{
        width: 50%;
        margin-top: 20px;
    }
    
}
.smr_text{
    color: rgb(255, 255, 255);
    float: left;
    font-size: 25px;
    width: 45%;
    height: 200px;
}

.ha{
  float: right;
  width: 50%;
  height: 200px;
}

.nb{
  float: left;
  width: 50%;
}