@import "./variables";
@import "./functions";

body {
    @include color($redder)
}

.test{
    @include changes__font($super_large);
    @include changes__font($text_color);
    text-align: center; 
}

.image{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 400px;
}